In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

# 1. Pre-Processing

### 1.1 Load Data

In [2]:
df = pd.read_csv('Resources/heart_attack_final_table.csv')
df.head()

,id,ever_overweight,blood_transfusion_yr,heart_attack_age,fatty_liver,liver_fibrosis,liver_cirrhosis,liver_viral_hepatitis,liver_autoimmune_hepatitis,other_liver_disease,...,stroke,thyroid,liver_disease,gallbladder_pr,Total_Cholesterol_mg_dL,Frequency_of_Drinking,Drinks_per_Day,Work,Recreational,100_Cigarettes
0,109266.0,1,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,195.0,10.0,1.0,0,1,0
1,109274.0,1,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,105.0,4.0,2.0,1,0,0
2,109292.0,0,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,172.0,4.0,6.0,0,0,0
3,109297.0,0,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,214.0,6.0,2.0,1,0,0
4,109307.0,0,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,161.0,9.0,1.0,0,0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5502 entries, 0 to 5501
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          5502 non-null   float64
 1   ever_overweight             5502 non-null   int64
 2   blood_transfusion_yr        527 non-null    float64
 3   heart_attack_age            199 non-null    float64
 4   fatty_liver                 5502 non-null   int64
 5   liver_fibrosis              5502 non-null   int64
 6   liver_cirrhosis             5502 non-null   int64
 7   liver_viral_hepatitis       5502 non-null   int64
 8   liver_autoimmune_hepatitis  5502 non-null   int64
 9   other_liver_disease         5502 non-null   int64
 10  relative_asthma             5502 non-null   int64
 11  relative_diabetes           5502 non-null   int64
 12  relative_heart_attack       5502 non-null   int64
 13  asthma                      5502 non-null   int64
 14  heart_failure               5502 non-null   int64
 15  chronic_heart_disease       5502 non-null   int64
 16  angina_pectoris             5502 non-null   int64
 17  stroke                      5502 non-null   int64
 18  thyroid                     5502 non-null   int64
 19  liver_disease               5502 non-null   int64
 20  gallbladder_pr              5502 non-null   int64
 21  Total_Cholesterol_mg_dL     5502 non-null   float64
 22  Frequency_of_Drinking       5502 non-null   float64
 23  Drinks_per_Day              5502 non-null   float64
 24  Work                        5502 non-null   int64
 25  Recreational                5502 non-null   int64
 26  100_Cigarettes              5502 non-null   int64
dtypes: float64(6), int64(21)
memory usage: 1.1 MB

In [ ]:
X = df.copy()
X.drop("bad", axis=1, inplace=True)
X.head()