In [1]:
import pandas as pd
import numpy as np

# 1. Load Data

In [24]:
df = pd.read_csv('Resources/pca_df.csv')
df.head()

,asthma_age,ever_overweight,heart_failure_age,age_chronic_heart_disease,angina_pectoris_age,heart_attack_age,stroke_age,thyroid_age,liver_age,fatty_liver,...,age,gender_female,gender_male,race_asian,race_black,race_mexican_american,race_other,race_other_hispanic,race_white,segments
0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,29.0,1,0,1,0,0,0,0,0,1
1,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,68.0,0,1,0,0,0,1,0,0,0
2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,58.0,0,1,0,0,0,0,1,0,0
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,30.0,1,0,1,0,0,0,0,0,1
4,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,47.0,0,1,1,0,0,0,0,0,0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5478 entries, 0 to 5477
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   asthma_age                  5478 non-null   float64
 1   ever_overweight             5478 non-null   int64
 2   heart_failure_age           5478 non-null   float64
 3   age_chronic_heart_disease   5478 non-null   float64
 4   angina_pectoris_age         5478 non-null   float64
 5   heart_attack_age            5478 non-null   float64
 6   stroke_age                  5478 non-null   float64
 7   thyroid_age                 5478 non-null   float64
 8   liver_age                   5478 non-null   float64
 9   fatty_liver                 5478 non-null   int64
 10  liver_fibrosis              5478 non-null   int64
 11  liver_cirrhosis             5478 non-null   int64
 12  liver_viral_hepatitis       5478 non-null   int64
 13  liver_autoimmune_hepatitis  5478 non-null   int64
 14  other_liver_disease         5478 non-null   int64
 15  gallbladder_pr_age          5478 non-null   float64
 16  relative_asthma             5478 non-null   int64
 17  relative_diabetes           5478 non-null   int64
 18  relative_heart_attack       5478 non-null   int64
 19  heart_attack                5478 non-null   int64
 20  asthma_yrs                  5478 non-null   float64
 21  heart_failure_yrs           5478 non-null   float64
 22  chronic_heart_disease_yrs   5478 non-null   float64
 23  angina_pectoris_yrs         5478 non-null   float64
 24  stroke_yrs                  5478 non-null   float64
 25  thyroid_yrs                 5478 non-null   float64
 26  liver_disease_yrs           5478 non-null   float64
 27  gallbladder_pr_yrs          5478 non-null   float64
 28  max_age                     5478 non-null   float64
 29  Total_Cholesterol_mg_dL     5478 non-null   float64
 30  Frequency_of_Drinking       5478 non-null   float64
 31  Drinks_per_Day              5478 non-null   float64
 32  Work                        5478 non-null   int64
 33  Recreational                5478 non-null   int64
 34  100_Cigarettes              5478 non-null   int64
 35  age                         5478 non-null   float64
 36  gender_female               5478 non-null   int64
 37  gender_male                 5478 non-null   int64
 38  race_asian                  5478 non-null   int64
 39  race_black                  5478 non-null   int64
 40  race_mexican_american       5478 non-null   int64
 41  race_other                  5478 non-null   int64
 42  race_other_hispanic         5478 non-null   int64
 43  race_white                  5478 non-null   int64
 44  segments                    5478 non-null   int64
dtypes: float64(22), int64(23)
memory usage: 1.9 MB

In [26]:
df['segments'].value_counts()

segments
0    3288
1    2181
2       9
Name: count, dtype: int64

# 2. Only Select Top Features and Target Column

In [28]:
df_2 = df[['segments', 'heart_attack_age', 'max_age', 'age_chronic_heart_disease', 'angina_pectoris_age',
           'heart_failure_age', 'asthma_age', 'stroke_age', 'heart_attack']]
df_2 = df_2.copy()
df_2.head()

,segments,heart_attack_age,max_age,age_chronic_heart_disease,angina_pectoris_age,heart_failure_age,asthma_age,stroke_age,heart_attack
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

# 3. Heart Attacks by Group

### 3.1 Cluster 0

In [29]:
df_cluster_0 = df_2[df_2['segments']==0]
df_cluster_0 = df_cluster_0[['segments', 'heart_attack']]
df_cluster_0 = df_cluster_0.groupby('heart_attack').count().reset_index()
df_cluster_0['segments'].astype(int)
df_cluster_0['percent'] = (df_cluster_0['segments']/3288)*100
df_cluster_0

   heart_attack  segments    percent
0             0      3141  95.529197
1             1       147   4.470803

### 3.2 Cluster 1

In [33]:
df_cluster_1 = df_2[df_2['segments']==1]
df_cluster_1 = df_cluster_1[['segments', 'heart_attack']]
df_cluster_1 = df_cluster_1.groupby('heart_attack').count().reset_index()
df_cluster_1['segments'].astype(int)
df_cluster_1['percent'] = (df_cluster_1['segments']/2181)*100
df_cluster_1

   heart_attack  segments    percent
0             0      2133  97.799175
1             1        48   2.200825

### 3.2 Cluster 2

In [34]:
df_cluster_2 = df_2[df_2['segments']==2]
df_cluster_2 = df_cluster_2[['segments', 'heart_attack']]
df_cluster_2 = df_cluster_2.groupby('heart_attack').count().reset_index()
df_cluster_2['segments'].astype(int)
df_cluster_2['percent'] = (df_cluster_2['segments']/9)*100
df_cluster_2

   heart_attack  segments  percent
0             0         9    100.0

# 4. Heart Attack Age

In [16]:
df_mi_age = df[['segments', 'heart_attack_age']]
df_mi_age = df_mi_age[df_mi_age['heart_attack_age']!=0]
df_mi_age.head()

    segments  heart_attack_age
24         0              80.0
33         0              33.0
34         0              74.0
60         2              29.0
89         2              62.0

In [17]:
df_mi_age.groupby('segments').describe()

         heart_attack_age
                    count       mean        std   min    25%   50%   75%   max
segments
0                   147.0  53.693878  13.564464  16.0  45.00  54.0  61.5  80.0
2                    48.0  51.166667  14.296754  16.0  41.75  54.0  59.5  80.0

# 5. Max Comorbidity Age

comorbidity closest to heart attack, but prior to it

In [18]:
df_comorbidity_age = df[['segments', 'max_age']]
df_comorbidity_age = df_comorbidity_age[df_comorbidity_age['max_age']!=0]
df_comorbidity_age.head()

    segments  max_age
24         0     80.0
33         0     33.0
34         0     74.0
60         2     29.0
89         2     62.0

In [19]:
df_comorbidity_age.groupby('segments').describe()

         max_age
           count       mean        std   min    25%   50%   75%   max
segments
0          147.0  53.693878  13.564464  16.0  45.00  54.0  61.5  80.0
2           48.0  51.166667  14.296754  16.0  41.75  54.0  59.5  80.0