In [1]:
import pandas as pd
import numpy as np

# 1. Load Data

In [4]:
df = pd.read_csv('Resources/pca_df.csv')
df.head()

   Unnamed: 0       PCA1       PCA2
0           0  -8.912236  -0.481355
1           1  75.370546 -22.543675
2           2  12.493075  -1.595228
3           3 -27.068327   5.303091
4           4  22.615779  -9.182108